.top_heading {
    margin: 3rem 0 1rem 0;
    text-align: center;
    color: var(--cta-color);
}

.top_subhead {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    color: var(--grey-color);
}

.categories {
    column-gap: 1.5rem;
}