/* Profile menu */
.profile_menu {
      padding: 1rem;
      position: absolute;
      top: 5rem;
      right: 3rem;
      background-color: var(--info-background-color);
      box-shadow: 0px 0px 1px 1px var(--white-color);
      z-index: 5;
      width: 12.5rem;
      height: 17rem;
}

.display_profile {
      display: flex;
}

.menu {
      gap: 1rem;
      font-size: 0.8rem;
}

.menu .menu_link {
      color: var(--primary-color);
      font-weight: var(--fw-bold);
      padding-left: 1rem;
}

.menu .menu_link:hover {
      font-weight: var(--fw-bold);
}

.profile_box .userName {
      color: var(--secondary-color);
      font-size: 1rem;
}