:root {
    --prim-bg-color: #1b263b;
    --prim-txt-color: #edf2f4;
    --cta-color: #00A8E8;
}

body {
    color: var(--prim-txt-color);
    background-color: var(--prim-bg-color);
    /* background-color: #2b2d42; */
    /* background-color: #00171F; */
    /* background-color: #000814; */
}

* {
    transition: all 0.7s ease-in-out;
}